# Port number
PORT=3000

# DATABASE
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_PORT=

# TENANT DATABASE
TENANT_DATABASE_USERNAME=
TENANT_DATABASE_PASSWORD=
TENANT_DATABASE_NAME=
TENANT_DATABASE_HOST=
TENANT_DATABASE_PORT=

# TEST DATABASE
TEST_DATABASE_USERNAME=
TEST_DATABASE_PASSWORD=
TEST_DATABASE_NAME=
TEST_DATABASE_HOST=
TEST_DATABASE_PORT=

# TEST DATABASE
TEST_TENANT_DATABASE_USERNAME=
TEST_TENANT_DATABASE_PASSWORD=
TEST_TENANT_DATABASE_NAME=
TEST_TENANT_DATABASE_HOST=
TEST_TENANT_DATABASE_PORT=

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com
